
   <div class="middle-box text-center reset-password-screen animated fadeInDown" ng-controller="resetPasswordCtrl">
    <div>
        <div>
            <h1 class="logo-name"></h1>
        </div>
        <form class="form-horizontal m-t" role="form" action="#" onsubmit="return false;">
            <br/>

            <div class="row">
                <input type="hidden" id="hidUserId" name="hidUserId" />
                <input type="hidden" id="hidTocken" name="hidTocken"/>
                <h4 translate="RESET_PASSWORD_MSG1">Reset your ulang password</h4>
               
                
                    
                        <input class="form-control" id="txtNewPassword" type="password" ng-model="resetPassword.newPassword" name="txtNewPassword" required="" placeholder="New password" />

                        <input class="form-control" id="txtConfirmPassword" type="password" ng-model="resetPassword.confirmPassword" name="txtConfirmPassword" required="" placeholder="Confirm password" />
                   
                        <button type="submit" class="btn btn-warning" data-ng-click="sendRequestResetPassword()" translate="RESET_PASSWORD_RESET"></button>
                   
                
            </div>
        </form>
        <p class="m-t"> <small translate="FOOTER_LEEME"></small> </p>
    </div>
</div>