
    
        .logo-system {
            width: 240px;
        }


       .box {
           width: 80%;
           max-width: 700px;
           background-color: #272E38;
           margin: 0 auto;
           height: 600px;
           border-radius: 10px;
           box-shadow: 0px 10px 15px rgba(0,0,0,0.6);
           padding-top: 30px;
           text-align: center;
           margin-top: 80px;
           margin-bottom: 80px;
           color: white;
       }

.box h3{
    margin-top: 18px;
    margin-bottom: 18px;
    color: #e58b55;
}
       
       .col-1 {
           height: 45%;
           width: 40%;
           float: left;
           padding-right: 1%;
           text-align: right;
           margin: 0;
       }

       .col-2 {
           float: left;
           height: 45%;
           width: 58%;
           padding-left:1%;
           text-align: left;
           margin: 0;
       }
       
       .col-1 .fila, .col-2 .fila {
           height: 30px;
           line-height: 30px;
       }
       
       .fila select {
           width: 200px;
           border-radius: 20px !important;
       }

.fila select {
    padding-left: 10px;
    background-color: #272E38;
    border: 1px solid #525252;
}
       
       .fila input[type="text"]{
           width: 200px;
           border-radius: 10px;
           border: 1px solid #525252;
           height: 20px;
           text-decoration: none;
           background-color: #272e38;
           padding: 2px;
           padding-left: 10px;
       }
       
       .fila-op-2, .fila-op-3, .fila-op-4, .fila-op-5 {
           display: none;
       }

.fila-firewall{
    position: relative;
    left: 58%;
    top: 43%;
}

.fila-abajo {
    width: 80%;
    float: left;
    margin-left: 10%;
    
}

.fila-abajo textarea {
    width: 100%;
    resize: none;
    overflow-y: scroll;
    border-radius: 6px;
    border: none;
    height: 50%;
    background-color: #35383f;
    padding: 5px;
}

.fila-abajo button{
    height: 36px;
    color: ghostwhite;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0);
    float: right;
    margin: 5px;
    cursor: pointer;
}

.fila-abajo .ok {
    background-color: #62B01E;
    padding: 5px 15px 5px 15px;
}

.fila-abajo .cancel {
    background-color: #c94242;
    padding: 5px 15px 5px 15px;
}



















