body {
    background-color: #35383f !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.al-main {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.al-content {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
}

.widgets .widgets {
    margin-top: 10px;
    margin-left: 20px;
}

.preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
    text-align: center;
  }

  #svg-preloader {
      left: calc(50% - 50px);
      position: absolute;
      top: 40%;
  }




    .texto-ulang {
        position: absolute;
        top: 38%;
        width: 100px !important;
        left: calc(50% - 60px);
    }

.texto-ulang img{
    width: 100px;
    left: calc(50% - 50px);
}
