<div class="widgets">

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div ba-panel ba-panel-title="Tablets (Live)" ba-panel-class="with-scroll table-panel">
                <table class="table table-tablets">
                    <tr>
                        <th style="width: 16%; text-align: left">#</th>
                        <th style="width: 20%; text-align: left">Languages</th>
                        <th style="width: 40%">Switch / Preview <span style="float: right; margin-right: 40px">Mic Actions</span></th>
                        <th style="width: 20%; text-align: center">State</th>
                        <th style="width: 4%; text-align: center"></th>
                    </tr>
                    <tr class="{{$even ? 'par-1' : ''}} {{ tablet.ClassConnected}} {{tablet.GeneralState}}" ng-repeat="tablet in info.Tablets">
                        <td class="columna-numero">
                           <label for="" class="numero-cabina">{{tablet.IdCabin}}</label>
			                <label for="" class="img-cabina">[</label>
                            <div class="indicator num-tablet" id="pulsate-regular">
                                <div class="indicator toggle">
                                    <button class="btn btn-xs mic-toggle {{tablet.StateRecordClass}}" ng-click="buttons.clickRecord(tablet.IdCabin, tablet.TabletNumber)">
                                        <i class="fa fa-microphone" aria-hidden="true"></i>
                                    </button>
                                </div>
                                {{tablet.TabletNumber}}
                            </div>
                        </td>

                        <td class="columna-language" title="English speaking and listening in Spanish">
                            <div class="indicator">
                                <i class="fa fa-headphones fa-2" aria-hidden="true"></i>
                                <img ng-src="/assets/img/flags/{{tablet.LanguageListen}}" />
                            </div>

                            <div class="indicator">
                                <img ng-src="/assets/img/flags/{{tablet.LanguageRecord}}" />
                                <i class="fa fa-microphone fa-2" aria-hidden="true"></i>
                            </div>
                        </td>

                        <td class="columna-actions">

                            <div class="indicator switch">
                                <button class="btn btn-xs btn-state btn-switch " ng-click="buttons.clickSwitch(tablet.IdCabin, tablet.TabletNumber)">
                                    <i class="fa fa-random" aria-hidden="true"></i>
                                    Switch
                                </button>
                            </div>

                            <div class="indicator">
                                <button class="btn btn-xs btn-success btn-state" ng-click="buttons.clickShowTablet(tablet.IdCabin, tablet.TabletNumber)">
                                    <i class="fa fa-television" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-xs btn-state {{tablet.StateListenInConsoleClass}}" ng-click="buttons.clickListenAudio(tablet.IdCabin, tablet.TabletNumber)">
                                    <i class="fa fa-headphones" aria-hidden="true"></i>
                                </button>
                            </div>

                            <div class="indicator ganancia" title="gain control">
                                <img src="/assets/img/icons/mic-gain.svg" width="35px" alt="">
                                <button class="btn btn-xs " ng-click="buttons.clickGain(tablet.IdCabin, tablet.TabletNumber, '-')">
                                    <i class="fa fa-minus" aria-hidden="true"></i>

                                </button>
                                <div class="divGain">
                                    {{tablet.GainValue}}
                                </div>
                                <button class="btn btn-xs " ng-click="buttons.clickGain(tablet.IdCabin, tablet.TabletNumber, '+')">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="indicator mute">
                                <button class="btn btn-xs mic-mute {{tablet.StateMuteClass}}" ng-click="buttons.clickMute(tablet.IdCabin, tablet.TabletNumber)">
                                    <i class="fa fa-microphone-slash" aria-hidden="true"></i>
                                </button>

                            </div>
                        </td>
                        <td class="indicators columna-indicadores">
                            <div class="{{tablet.ClassConnected}}">
                                <div class="indicator" data-html="true" uib-tooltip-html="tablet.BatteryTooltip" tooltip-placement="left" data-toggle="tooltip">
                                    <img ng-src="/assets/img/icons/{{tablet.BatteryImage}}" width="20px" alt="">
                                </div>
                                <div class="indicator" data-html="true" uib-tooltip-html="tablet.WifiTooltip" tooltip-placement="left" data-toggle="tooltip">
                                    <img ng-src="/assets/img/icons/{{tablet.WifiImage}}" width="20px" alt="">
                                </div>
                                <div class="indicator oculto" title="square wave">
                                    <i class="fa fa-line-chart " aria-hidden="true"></i>
                                </div>
                                <div class="indicator oculto" title="loss packets">
                                    <img src="/assets/img/icons/box.svg" width="20px" alt="">
                                </div>
                            </div>
                        </td>
                        <td class="columna-alarma">
                            <div  data-html="true" uib-tooltip-html="tablet.GeneralTooltip" tooltip-placement="left" data-toggle="tooltip">
                                <i class="fa {{tablet.StateIcon}} iconTablets {{tablet.StateBlink}}" style="color:{{tablet.ColorIcon}}" aria-hidden="true"></i>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>